.common-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--common_transition);
}

.header-btn {
  padding: 5px 5px 5px 0;
  background: var(--colorBlack);
  color: var(--colorWhite) !important;
  div {
    background: var(--colorWhite);
  }
  &:hover {
    background: var(--colorWhite);
    color: var(--colorBlack) !important;
    background-image: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(20.7deg, #fbb8b8 -20.76%, #83defc 17.31%, #f2ed7b 71%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    div {
      background: linear-gradient(
        20.7deg,
        #fbb8b8 -20.76%,
        #83defc 17.31%,
        #f2ed7b 71%
      );
    }
  }
}

.h1-b-gradient {
  background-image: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
      90deg,
      #d8ea9a 0%,
      #afe5ca 25.5%,
      #fbb8b8 47.5%,
      #ffffff 58.5%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-bottom: 16px solid transparent;
  @media screen and ((max-width: 1080px) and (min-width: 768px)) {
    border-bottom: 12px solid transparent;
  }
  @media screen and (max-width: 767px) {
    border-bottom: 8px solid transparent;
  }
}

.black-button {
  border: 1px solid transparent;
  color: var(--colorWhite);
  background: var(--colorBlack);
  border-radius: 30px;
  padding: 16px 24px;
  font-size: 20px;
  line-height: 28px;
  &:hover {
    color: var(--colorBlack);
    background: var(--colorWhite);
    background-image: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(20.7deg, #fbb8b8 -20.76%, #83defc 17.31%, #f2ed7b 71%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.white-button-new {
  border: 1px solid var(--colorBlack) !important;
  color: var(--colorBlack);
  background: var(--colorWhite);
  border-radius: 30px;
  padding: 16px 24px;
  font-size: 20px;
  line-height: 28px;
  &:hover {
    border-color: transparent !important;
    background-image: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(20.7deg, #fbb8b8 -20.76%, #83defc 17.31%, #f2ed7b 71%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.try-now-btn {
  border: 1px solid var(--colorBlack) !important;
  &:hover {
    background-image: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(20.7deg, #fbb8b8 -20.76%, #83defc 17.31%, #f2ed7b 71%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-color: transparent !important;
  }
}

.button-primary {
  color: var(--colorWhite) !important;
  border: 2px solid var(--colorDarkBlue) !important;
  background: var(--colorDarkBlue) !important;
  &:hover {
    background: transparent !important;
    color: var(--color_black) !important;
  }
}

.button-white {
  color: var(--color_black) !important;
  background: var(--white_color) !important;
  border: 1px solid var(--white_color) !important;
  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

.usecase {
  font-family: var(--global-font) !important;
  h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 70px;
    color: var(--colorBlack);
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 42px;
      line-height: 60px;
    }
    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 40px;
    }
  }
  p {
    font-size: 1.5rem;
    font-family: var(--global-font) !important;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 1.25rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }
  h2,
  h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 44px;
      line-height: 50px;
    }
    @media screen and (max-width: 767px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  .big-number {
    font-weight: 800 !important;
  }

  .cta-section {
    width: 100%;
    font-weight: 800 !important;
    color: var(--color_gray);
    background: var(--color_light_gray);
    border-radius: 42px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      height: 200px;
      border-radius: 30px;
    }
    @media screen and (max-width: 767px) {
      height: 120px;
      border-radius: 24px;
    }
  }

  .cta-section::before {
    content: "CTA";
    font-size: 400px;
    line-height: 400px;
    opacity: 8%;
    color: var(--color_gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 260px;
      line-height: 260px;
    }
    @media screen and (max-width: 767px) {
      font-size: 145px;
      line-height: 130px;
    }
  }
  .faq-bottom .accordion-item {
    border: 1px solid #ced5e1 !important;
  }
  .faq-bottom .accordion-item:nth-last-child(1) {
    margin-bottom: 0 !important;
  }
}

.solutions {
  h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 82px;
    color: var(--colorBlack);
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 42px;
      line-height: 64px;
    }
    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 50px;
    }
  }
  p {
    font-size: 1.5rem;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 1.25rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }
  h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
    color: var(--colorBlack);
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 36px;
      line-height: 42px;
    }
    @media screen and (max-width: 767px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.ai-automate li {
  padding-left: 32px;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  color: var(--colorBlack);
  padding-bottom: 14px;
  @media screen and (max-width: 767px) {
    padding-bottom: 10px;
  }
}
.ai-automate li.rewind:last-child {
  padding-bottom: 0;
}

.ai-automate li::before {
  content: "";
  width: 23px;
  height: 22px;
  left: 0;
  top: 4px;
  background-image: url(/images/green-double-a.svg);
  background-position: -460px -88px;
  position: absolute;
}

.ai-automate li.rewind::before {
  width: 24px;
  height: 24px;
  background-image: url(/images/rewind-time.svg);
  background-position: -457px -95px;
}

.banner-underline {
  max-width: 100%;
  width: 288px;
  height: 10px;
  background: linear-gradient(
    90deg,
    #d8ea9a 0%,
    #afe5ca 25.5%,
    #fbb8b8 47.5%,
    #ffffff 58.5%
  );
  margin: 0 19.5% 0 0;
  @media screen and ((max-width: 1080px) and (min-width: 768px)) {
    font-size: 260px;
    line-height: 260px;
  }
  @media screen and (max-width: 767px) {
    width: 288px;
    height: 10px;
    margin: 0 19.5% 10px 0;
  }
}

.small-head-underline {
  max-width: 100%;
  width: 168px;
  height: 6px;
  background: linear-gradient(
    90deg,
    #d8ea9a 0%,
    #afe5ca 25.5%,
    #fbb8b8 47.5%,
    #ffffff 58.5%
  );
  margin: 2px 19.5% 8px 0;
}

.hover-btn-border,
.hover-btn-border:hover {
  border: 1px solid;
  border-image-source: linear-gradient(
    20.7deg,
    #fbb8b8 -20.76%,
    #83defc 17.31%,
    #f2ed7b 71%
  );
}

.play-icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: var(--colorBlack);
  color: var(--colorWhite);
  gap: 8px;
  border-radius: 80px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  div {
    background: #ffffff;
  }
  &:hover {
    background-image: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(20.7deg, #fbb8b8 -20.76%, #83defc 17.31%, #f2ed7b 71%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: var(--colorBlack);
    div {
      background: linear-gradient(
        20.7deg,
        #fbb8b8 -20.76%,
        #83defc 17.31%,
        #f2ed7b 71%
      );
    }
  }
}

.full-potential,
.pricing-plan {
  .absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
    background: linear-gradient(
      90.06deg,
      rgba(216, 234, 154, 0.5) 0.05%,
      rgba(175, 229, 202, 0.5) 26.12%,
      rgba(251, 184, 184, 0.5) 101.07%
    ) !important;
  }
  li[role="tab"] {
    background: #f9f9f9;
    padding: 14px 0;
    margin: 4px;
    border-radius: 10px;
    @media screen and (max-width: 767px) {
      padding: 10px 0;
      margin: 4px 0;
    }
  }
}

.pricing-grid:first-child {
  background-image: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(255.7deg, #ff8585 21.78%, #56d5ff 42.63%, #dcd536 72.03%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 20px;
  border-width: 1px 4px 4px 1px !important;
  border-style: solid;
  border-color: transparent;
}

.pricing-plan {
  li[role="tab"] {
    @media screen and (max-width: 1024px) {
      padding: 16px 0 16px 0;
    }
    @media screen and (max-width: 767px) {
      padding: 10px 0 10px 0;
      &:first-child {
        margin-right: 0px;
        margin-left: 0px;
      }
      &:last-child {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}

.container-cta {
  position: relative;
}

.container-cta::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 0;
  right: 0;
  background: linear-gradient(
    92.98deg,
    rgba(251, 184, 184, 0.7) 5.1%,
    rgba(251, 184, 184, 0.7) 5.11%,
    rgba(131, 222, 252, 0.7) 52.15%,
    rgba(242, 237, 123, 0.7) 100%
  );
  filter: blur(64px);
  width: 800px;
  height: 188px;
  margin: 0 auto;
  border-radius: 300px;
  z-index: 0;
  @media screen and (max-width: 767px) {
    top: -55%;
  }
}

.content {
  position: relative;
  z-index: 1;
}

h2 {
  margin-bottom: 10px;
}
