.common-button {
  font-size: var(--font_16) !important;
  font-weight: 600 !important;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  @media screen and (max-width: 1600px) {
    padding: 10px 14px;
    font-size: var(--font_18) !important;
  }
}

.button-primary {
  color: var(--colorWhite) !important;
  border: 2px solid var(--colorDarkBlue) !important;
  background: var(--colorDarkBlue) !important;
  &:hover {
    background: transparent !important;
    color: var(--color_black) !important;
  }
}

.button-white {
  color: var(--color_black) !important;
  background: var(--white_color) !important;
  border: 1px solid var(--white_color) !important;
  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

.usecase {
  font-family: var(--global-font) !important;
  h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 64px;

    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 48px;
      line-height: 54px;
    }
    @media screen and (max-width: 767px) {
      font-size: 48px;
      line-height: 50px;
    }
  }
  p {
    font-size: 1.5rem;
    font-family: var(--global-font) !important;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 1.25rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }
  h2,
  h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 44px;
      line-height: 50px;
    }
    @media screen and (max-width: 767px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  .big-number {
    font-weight: 800 !important;
  }

  .cta-section {
    width: 100%;
    font-weight: 800 !important;
    color: var(--color_gray);
    background: var(--color_light_gray);
    border-radius: 42px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      height: 200px;
      border-radius: 30px;
    }
    @media screen and (max-width: 767px) {
      height: 120px;
      border-radius: 24px;
    }
  }

  .cta-section::before {
    content: "CTA";
    font-size: 400px;
    line-height: 400px;
    opacity: 8%;
    color: var(--color_gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and ((max-width: 1080px) and (min-width: 768px)) {
      font-size: 260px;
      line-height: 260px;
    }
    @media screen and (max-width: 767px) {
      font-size: 145px;
      line-height: 130px;
    }
  }
  .faq-bottom .accordion-item {
    border: 1px solid #ced5e1 !important;
  }
  .faq-bottom .accordion-item:nth-last-child(1) {
    margin-bottom: 0 !important;
  }
}

.ai-automate li {
  padding-left: 32px;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  color: var(--colorBlack);
  padding-bottom: 14px;
}
.ai-automate li.rewind:last-child {
  padding-bottom: 0;
}

.ai-automate li::before {
  content: "";
  width: 23px;
  height: 22px;
  left: 0;
  top: 4px;
  background-image: url(/images/green-double-a.svg);
  background-position: -460px -88px;
  position: absolute;
}

.ai-automate li.rewind::before {
  width: 24px;
  height: 24px;
  background-image: url(/images/rewind-time.svg);
  background-position: -457px -95px;
}

// .h-highlight {
//   background: linear-gradient(90deg, #f3ee7c 0%, #83defc 33.6%, #ffffff 69.4%);
//   position: relative;
//   background-repeat: no-repeat;
//   background-size: 418px 16px;
//   background-position: 0 100%; /* Adjust background position to move it under the text */
//   padding-bottom: 20px;
// }
// .h-highlight::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: -1;
//   background-size: 100% 100%;
// }

.banner-underline {
  width: 476px;
  height: 16px;
  background: linear-gradient(90deg, #f3ee7c 0%, #83defc 33.6%, #ffffff 69.4%);
  margin: 8px 19.5% 50px 19.5%;
  border-radius: 16px;
  @media screen and ((max-width: 1080px) and (min-width: 768px)) {
    font-size: 260px;
    line-height: 260px;
  }
  @media screen and (max-width: 767px) {
    width: 360px;
    max-width: 476px;
    height: 14px;
  }
}

.container-cta {
  position: relative;
}

.container-cta::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 0;
  right: 0;
  background: linear-gradient(
    92.98deg,
    rgba(251, 184, 184, 0.7) 5.1%,
    rgba(251, 184, 184, 0.7) 5.11%,
    rgba(131, 222, 252, 0.7) 52.15%,
    rgba(242, 237, 123, 0.7) 100%
  );
  filter: blur(64px);
  width: 800px;
  height: 188px;
  margin: 0 auto;
  border-radius: 300px;
  z-index: 0; /* place behind the content */
}

.content {
  position: relative; /* to position it on top of the blurred gradient */
  z-index: 1;
}

h2 {
  margin-bottom: 10px;
}
