.splide__pagination__page{
 border-radius: 0px;
 width: 40px;
 height: 4px !important;


 background: #202020;
}
.splide__pagination__page.is-active{
    background:#fff !important;
}
.splide{
 padding: 8rem 0 8rem 0;
}
.splide_ {
//    overflow: visible;

//   display: flex;
//   justify-content: center;

}

// .splide__track {overflow: visible;}

.splide-list{
   
    .splide__pagination {
        position: absolute !important;
        bottom: 4% !important;
        top: unset !important;
     path{
        fill: #fff;
     }
    }
    .splide__arrow{
        position: absolute !important;
        bottom: 0% !important;
        margin: 0px 10%;
        top: unset !important;
       path{
        fill:white  !important;
       }
    }
}

  
  @media (max-width: 767px) {
    .splide__arrow{
    display: none;
    }
    .splide{
        padding: 2rem 0 2rem 0;
       }
.splide__track {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}